# Práctica 2:
* Aprovechando el Df trimestre, vamos a descargar de GitHub el fichero ventasgroucery nov-dic xlsx,calcular el amount para noviembre y diciembre, anexar el DF trimestre con los meses de noviembre y diciembre a este le llamaremos semestre.

In [1]:
import pandas as pd
fichero = r"C:\Users\javie\Downloads\VentasGroucery_Meses.xlsx"
agosto2014=pd.read_excel(fichero, sheet_name="Ventas Agosto 2014")   
septiembre2014=pd.read_excel(fichero, sheet_name="Ventas Septiembre 2014") 
octubre2014=pd.read_excel(fichero, sheet_name="Ventas Octubre 2014") 

trimestre = pd.concat([agosto2014,septiembre2014,octubre2014], ignore_index=True) 
trimestre

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05
...,...,...,...,...,...,...,...,...,...
180,10315,Sasquatch Ale,Beverages,11.2,14,Island Trading,Cowes,UK,2014-10-27
181,10315,Outback Lager,Beverages,12.0,30,Island Trading,Cowes,UK,2014-10-27
182,10316,Jack's New England Clam Chowder,Seafood,7.7,10,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-10-28
183,10316,Tarte au sucre,Confections,39.4,70,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-10-28
184,10317,Chai,Beverages,14.4,20,Lonesome Pine Restaurant,Portland,USA,2014-10-31

In [2]:
import pandas as pd
fichero2 = r"C:\Users\javie\Downloads\VentasGroucery Nov-Dic.xlsx"
noviembre2014 = pd.read_excel(fichero2, sheet_name="Ventas Noviembre 2014" )
diciembre2014 = pd.read_excel(fichero2, sheet_name="Ventas Diciembre 2014" )
fichero2

trimestre2 = pd.concat([noviembre2014,diciembre2014], ignore_index=True) 
trimestre2

,IdPedido,Producto,Categoría,Precio Unidad,Cantidad,Cliente,Ciudad,País,Fecha pedido
0,10270,Ipoh Coffee,Beverages,36.8,25,Wartian Herkku,Oulu,Finland,2014-11-01
1,10270,Inlagd Sill,Seafood,15.2,30,Wartian Herkku,Oulu,Finland,2014-11-01
2,10271,Geitost,Dairy Products,2.0,24,Split Rail Beer & Ale,Lander,USA,2014-11-01
3,10272,Sir Rodney's Marmalade,Confections,64.8,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-11-02
4,10272,Gorgonzola Telino,Dairy Products,10.0,40,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-11-02
...,...,...,...,...,...,...,...,...,...
133,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
134,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
135,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
136,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
137,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30

# Reviso la info antes de unir los DF

In [3]:
trimestre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      185 non-null    int64
 1   Product       185 non-null    object
 2   Category      185 non-null    object
 3   Unit Price    185 non-null    float64
 4   Quantity      185 non-null    int64
 5   Customer      185 non-null    object
 6   Ship City     185 non-null    object
 7   Ship Country  185 non-null    object
 8   Order Date    185 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 13.1+ KB

In [4]:
trimestre2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdPedido       138 non-null    int64
 1   Producto       138 non-null    object
 2   Categoría      138 non-null    object
 3   Precio Unidad  138 non-null    float64
 4   Cantidad       138 non-null    int64
 5   Cliente        138 non-null    object
 6   Ciudad         138 non-null    object
 7   País           138 non-null    object
 8   Fecha pedido   138 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 9.8+ KB

# Como los nombres de las columnas no son iguales procedo a igualarlos

In [5]:
trimestre2.columns = trimestre.columns
trimestre2

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10270,Ipoh Coffee,Beverages,36.8,25,Wartian Herkku,Oulu,Finland,2014-11-01
1,10270,Inlagd Sill,Seafood,15.2,30,Wartian Herkku,Oulu,Finland,2014-11-01
2,10271,Geitost,Dairy Products,2.0,24,Split Rail Beer & Ale,Lander,USA,2014-11-01
3,10272,Sir Rodney's Marmalade,Confections,64.8,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-11-02
4,10272,Gorgonzola Telino,Dairy Products,10.0,40,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-11-02
...,...,...,...,...,...,...,...,...,...
133,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
134,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
135,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
136,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
137,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30

# Utilizo concat para juntar los DF

In [6]:
semestre = pd.concat([trimestre,trimestre2], ignore_index=True)
semestre

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05
...,...,...,...,...,...,...,...,...,...
318,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
319,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
320,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
321,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30
322,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30

# Creo la columna Amount

In [7]:
semestre["Amount"] = semestre["Unit Price"] * semestre["Quantity"]
semestre

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0
...,...,...,...,...,...,...,...,...,...,...
318,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,571.2
319,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,37.2
320,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,552.0
321,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,468.0
322,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,259.2

# Creo la columna Discount como la tenía en el primer DF aplicando el descuento a los paises France y Germany

In [8]:
def descuento(pais):
    if pais == "France" or pais == "Germany":
        return 0.0335
    else:
        return 0 

semestre["Discount"] = semestre["Amount"] * semestre["Ship Country"].apply(descuento)

semestre

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount,Discount
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8,0.3283
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0,5.8290
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0,5.6280
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4,5.6079
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0,56.8160
...,...,...,...,...,...,...,...,...,...,...,...
318,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,571.2,0.0000
319,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,37.2,0.0000
320,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,552.0,0.0000
321,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,468.0,0.0000
322,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-12-30,259.2,0.0000

* Cambiar el orden de las columnas para ver la ultima la primera

In [9]:
semestre = semestre.iloc[:,[10,9,8,7,6,5,4,3,2,1,0]]
semestre

,Discount,Amount,Order Date,Ship Country,Ship City,Customer,Quantity,Unit Price,Category,Product,Order ID
0,0.3283,9.8,2014-08-04,France,Reims,Vins et alcools Chevalier,1,9.8,Grains/Cereals,Singaporean Hokkien Fried Mee,10248
1,5.8290,174.0,2014-08-04,France,Reims,Vins et alcools Chevalier,5,34.8,Dairy Products,Mozzarella di Giovanni,10248
2,5.6280,168.0,2014-08-04,France,Reims,Vins et alcools Chevalier,12,14.0,Dairy Products,Queso Cabrales,10248
3,5.6079,167.4,2014-08-05,Germany,Münster,Toms Spezialitäten,9,18.6,Produce,Tofu,10249
4,56.8160,1696.0,2014-08-05,Germany,Münster,Toms Spezialitäten,40,42.4,Produce,Manjimup Dried Apples,10249
...,...,...,...,...,...,...,...,...,...,...,...
318,0.0000,571.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,21,27.2,Dairy Products,Camembert Pierrot,10294
319,0.0000,37.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,6,6.2,Beverages,Rhönbräu Klosterbier,10294
320,0.0000,552.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,36.8,Beverages,Ipoh Coffee,10294
321,0.0000,468.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,31.2,Meat/Poultry,Alice Mutton,10294
322,0.0000,259.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,18,14.4,Beverages,Chai,10294

* Mediante un bucle for recorrer todos los registros del semestre y modificar el campo discount, 
* calcularemos un 2.75% sobre amount si el amount es > de 250 y no tenga descuento por ser de francia o alemania.

In [16]:
filas2 = len(semestre)

for i in range(filas2):
    amount = semestre.iloc[i]["Amount"]
    discount = semestre.iloc[i]["Discount"]

    if (amount > 250) and (discount == 0):
        semestre.at[i, "Discount"] = amount * 0.0275

semestre

,Discount,Amount,Order Date,Ship Country,Ship City,Customer,Quantity,Unit Price,Category,Product,Order ID
0,0.3283,9.8,2014-08-04,France,Reims,Vins et alcools Chevalier,1,9.8,Grains/Cereals,Singaporean Hokkien Fried Mee,10248
1,5.8290,174.0,2014-08-04,France,Reims,Vins et alcools Chevalier,5,34.8,Dairy Products,Mozzarella di Giovanni,10248
2,5.6280,168.0,2014-08-04,France,Reims,Vins et alcools Chevalier,12,14.0,Dairy Products,Queso Cabrales,10248
3,5.6079,167.4,2014-08-05,Germany,Münster,Toms Spezialitäten,9,18.6,Produce,Tofu,10249
4,56.8160,1696.0,2014-08-05,Germany,Münster,Toms Spezialitäten,40,42.4,Produce,Manjimup Dried Apples,10249
...,...,...,...,...,...,...,...,...,...,...,...
318,15.7080,571.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,21,27.2,Dairy Products,Camembert Pierrot,10294
319,0.0000,37.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,6,6.2,Beverages,Rhönbräu Klosterbier,10294
320,15.1800,552.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,36.8,Beverages,Ipoh Coffee,10294
321,12.8700,468.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,31.2,Meat/Poultry,Alice Mutton,10294
322,7.1280,259.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,18,14.4,Beverages,Chai,10294

In [17]:
filas2 = len(semestre)

for i in range(0,filas2):
    amount = semestre.iloc[i]["Amount"]
    discount = semestre.iloc[i]["Discount"]

    if (amount > 250) & (discount == 0):
        discount = amount * 0.0275

semestre

,Discount,Amount,Order Date,Ship Country,Ship City,Customer,Quantity,Unit Price,Category,Product,Order ID
0,0.3283,9.8,2014-08-04,France,Reims,Vins et alcools Chevalier,1,9.8,Grains/Cereals,Singaporean Hokkien Fried Mee,10248
1,5.8290,174.0,2014-08-04,France,Reims,Vins et alcools Chevalier,5,34.8,Dairy Products,Mozzarella di Giovanni,10248
2,5.6280,168.0,2014-08-04,France,Reims,Vins et alcools Chevalier,12,14.0,Dairy Products,Queso Cabrales,10248
3,5.6079,167.4,2014-08-05,Germany,Münster,Toms Spezialitäten,9,18.6,Produce,Tofu,10249
4,56.8160,1696.0,2014-08-05,Germany,Münster,Toms Spezialitäten,40,42.4,Produce,Manjimup Dried Apples,10249
...,...,...,...,...,...,...,...,...,...,...,...
318,15.7080,571.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,21,27.2,Dairy Products,Camembert Pierrot,10294
319,0.0000,37.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,6,6.2,Beverages,Rhönbräu Klosterbier,10294
320,15.1800,552.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,36.8,Beverages,Ipoh Coffee,10294
321,12.8700,468.0,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,15,31.2,Meat/Poultry,Alice Mutton,10294
322,7.1280,259.2,2014-12-30,USA,Albuquerque,Rattlesnake Canyon Grocery,18,14.4,Beverages,Chai,10294

* Ver los primeros 20 registros del Df semestre

In [13]:
semestre.head(20)

,Discount,Amount,Order Date,Ship Country,Ship City,Customer,Quantity,Unit Price,Category,Product,Order ID
0,0.3283,9.8,2014-08-04,France,Reims,Vins et alcools Chevalier,1,9.8,Grains/Cereals,Singaporean Hokkien Fried Mee,10248
1,5.8290,174.0,2014-08-04,France,Reims,Vins et alcools Chevalier,5,34.8,Dairy Products,Mozzarella di Giovanni,10248
2,5.6280,168.0,2014-08-04,France,Reims,Vins et alcools Chevalier,12,14.0,Dairy Products,Queso Cabrales,10248
3,5.6079,167.4,2014-08-05,Germany,Münster,Toms Spezialitäten,9,18.6,Produce,Tofu,10249
4,56.8160,1696.0,2014-08-05,Germany,Münster,Toms Spezialitäten,40,42.4,Produce,Manjimup Dried Apples,10249
5,6.9300,252.0,2014-08-08,Brazil,Rio de Janeiro,Hanari Carnes,15,16.8,Condiments,Louisiana Fiery Hot Pepper Sauce,10250
6,0.0000,77.0,2014-08-08,Brazil,Rio de Janeiro,Hanari Carnes,10,7.7,Seafood,Jack's New England Clam Chowder,10250
7,40.8100,1484.0,2014-08-08,Brazil,Rio de Janeiro,Hanari Carnes,35,42.4,Produce,Manjimup Dried Apples,10250
8,11.2560,336.0,2014-08-08,France,Lyon,Victuailles en stock,20,16.8,Condiments,Louisiana Fiery Hot Pepper Sauce,10251
9,3.3768,100.8,2014-08-08,France,Lyon,Victuailles en stock,6,16.8,Grains/Cereals,Gustaf's Knäckebröd,10251
10,7.8390,234.0,2014-08-08,France,Lyon,Victuailles en stock,15,15.6,Grains/Cereals,Ravioli Angelo,10251
11,71.2800,2592.0,2014-08-09,Belgium,Charleroi,Suprêmes délices,40,64.8,Confections,Sir Rodney's Marmalade,10252
12,0.0000,50.0,2014-08-09,Belgium,Charleroi,Suprêmes délices,25,2.0,Dairy Products,Geitost,10252
13,29.9200,1088.0,2014-08-09,Belgium,Charleroi,Suprêmes délices,40,27.2,Dairy Products,Camembert Pierrot,10252
14,17.6000,640.0,2014-08-10,Brazil,Rio de Janeiro,Hanari Carnes,40,16.0,Confections,Maxilaku,10253
15,16.6320,604.8,2014-08-10,Brazil,Rio de Janeiro,Hanari Carnes,42,14.4,Beverages,Chartreuse verte,10253
16,0.0000,200.0,2014-08-10,Brazil,Rio de Janeiro,Hanari Carnes,20,10.0,Dairy Products,Gorgonzola Telino,10253
17,11.0880,403.2,2014-08-11,Switzerland,Bern,Chop-suey Chinese,21,19.2,Meat/Poultry,Pâté chinois,10254
18,0.0000,168.0,2014-08-11,Switzerland,Bern,Chop-suey Chinese,21,8.0,Produce,Longlife Tofu,10254
19,0.0000,54.0,2014-08-11,Switzerland,Bern,Chop-suey Chinese,15,3.6,Beverages,Guaraná Fantástica,10254